<% @messages.each do |message| %>
  <div class="message">
  <h3><a href="/messages/<%= message.id %>"><%= message.author %></a></h3>    
    <p>
      <%= message.content %>
    </p>
  </div>
  <div>
    <a href="<%= message.url %>"><%= message.url %></a>
  </div>
<% end %>
<a href="/messages/new">Post a message... It's FREE (for now)!</a>